.contenedorSendero {
display:flex;
justify-content:flex-start;
gap:3em;
padding:5em;
}
.contenedorSendero img {
border-radius:2em;
padding:1em;
height:90vh;
}
@media (max-width: 712px) {
.contenedorSendero div img{
width:25em;
}
}
.contenedorSendero1 img {
border-radius:2em;
padding:1em;
height:90vh;

}
.contenedorSendero1 {
    display:flex;
justify-content:flex-end;
gap:3em;
padding:5em;
}
