.contenedorSendero {
display:flex;
justify-content:flex-end;
gap:3em;
padding:5em;
}
.contenedorSendero img {
border-radius:2em;
padding:1em;
height:90vh;
}
.contenedorSendero1 img {
border-radius:2em;
padding:1em;
height:90vh;

}
.contenedorSendero1 {
    display:flex;
justify-content:flex-start;
gap:3em;
padding:5em;
}
.Imgpersonaje1 {
padding:5em;
}
.contenedorSendero2 {
    display:flex;
justify-content:flex-start;
gap:5em;
padding:5em;
}

.contenedorSendero2 img {
    border-radius:2em;
    padding:1em;
    height:90vh;
    
    }


    
@media (max-width: 712px) {
.contenedorSendero {
    padding:0px;
}

.contenedorSendero1 {
    padding:0px;
}
.contenedorSendero2 {
    padding:0px;
}
.Imgpersonaje1 {
    display:none;
}
}
