.header1 {
    border:none;
    width: 100vw;
    height: 100vh;
    
}

.boximg {
    border:none;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top:5em;

}

.boximg img {
    width: 30em;
    height: 40.5em;
    margin-left:10em;
}


.parrafo {
   
    align-items:center;
    display: flex;
    flex-direction: column;
    justify-content:center;
 
}

.title span {
    
    font-size:5em;
}
.title {
 text-align:center;  
 
}



@media (max-width: 712px) {
    .boximg img {
        margin: 5em; 
        width: 10em;
        height: 15em;
     }
     .parrafo .contenedor .title {
        font-size: 
        1em;
       
     }
  
    
     .boximg {
        
        display: flex;
       flex-direction: column;
    }
     
}

@media (min-width:712px) and (max-width:2500px) {
    .boximg .img1 {
        width: 20em;
        height: 30.5em;
        margin-left:10em;
    }
    .boximg .img2 {
        width: 30em;
        height: 28em;
        margin-left:1em;
    }
  
   
  
}
@media (max-width:1500px){

    .pantallaGrande {
        display:none;
     }
}

              
.grow{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
       
}
.grow:hover{
    transform: scale3d(1.5, 1.5, 0.3);
        -webkit-transform: scale3d(1.5, 1.5, 0.3);
        -moz-transform: scale3d(1.5, 1.5, 0.3);
}

.boxImg1 {
    margin-right:14em;
    margin-left:4em;
}




@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");


.cuerpo {
	min-height: 100vh;
	display: grid;
	place-items: center;

	--bkg: #5eb3fd;
	--white: #e7e6e6;

	background-color: var(--white);
	background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}







