.header1 {
    border:none;
    width: 100vw;
    height: 100vh;
    background: #F0F2F0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.boximg {
    border:none;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.boximg img {
    width: 30em;
    height: 40.5em;
    margin-left:10em;
}
P {
    font-size:3em;

}
.parrafo {
    
    margin-left:20em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 712px) {
    .boximg img {
        margin: 5em; 
        width: 10em;
        height: 15em;
     }
     .parrafo p {
        font-size: 
        1em;
       
     }
     
     .parrafo {
        margin:0px;
     }
     .boximg {
        display: flex;
       flex-direction: column;
    }
     
}
.pantallaGrande {
    margin-right:20em
}
@media (min-width:712px) and (max-width:2500px) {
    .boximg img {
        width: 20em;
        height: 40.5em;
        margin-left:5em;
    }

    
}
@media (max-width:1500px){

    .pantallaGrande {
        display:none;
     }
}


              
.grow{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.grow:hover{
    transform: scale3d(1.5, 1.5, 0.3);
        -webkit-transform: scale3d(1.5, 1.5, 0.3);
        -moz-transform: scale3d(1.5, 1.5, 0.3);
}
              