.header1 {
    border:none;
    width: 100vw;
    height: 100vh;
    
}

.boximg {
    border:none;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top:5em;

}

.boximg img {
    width: 30em;
    height: 40.5em;
    margin-left:10em;
}


.parrafo {
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 712px) {
    .boximg img {
        margin: 5em; 
        width: 10em;
        height: 15em;
     }
     .parrafo .container .title {
        font-size: 
        1em;
       
     }
  
     .parrafo {
        margin:0px;
     }
     .boximg {
        
        display: flex;
       flex-direction: column;
    }
     
}

@media (min-width:712px) and (max-width:2500px) {
    .boximg .img1 {
        width: 20em;
        height: 30.5em;
        margin-left:10em;
    }
    .boximg .img2 {
        width: 30em;
        height: 28em;
        margin-left:1em;
    }
    .title {
        font-family: "Cairo";
        text-align: center;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 10vh;
        letter-spacing: 1px;
        line-height:2
    }
    .parrafo {
        display:flex;
        justify-content:center;
    }
  
}
@media (max-width:1500px){

    .pantallaGrande {
        display:none;
     }
}

              
.grow{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
        margin-top:3em;
        
}
.grow:hover{
    transform: scale3d(1.5, 1.5, 0.3);
        -webkit-transform: scale3d(1.5, 1.5, 0.3);
        -moz-transform: scale3d(1.5, 1.5, 0.3);
}

.boxImg1 {
    margin-right:14em;
    margin-left:4em;
}




@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");


.cuerpo {
	min-height: 100vh;
	display: grid;
	place-items: center;

	--bkg: #5eb3fd;
	--white: #e7e6e6;

	background-color: var(--white);
	background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}







.title {
	font-family: "Cairo";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 10vh;
	letter-spacing: 1px;
	line-height:2
}

.title h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 2em;
	margin: 10px 0;
}
/* styling my button */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}
