.spanLogo {
display:flex;
flex-direction:column;
font-size:0.5em;}

.barranav {
display:flex;
justify-content:space-between;
margin-left:15em}

.logoPrometeo {

width:6em}

.Imghome {
width:4.5em;}

.Imgpath {
width:6.5em;
height:4.5em}