.portada1 {
  position: relative;
}

.boton-sobre-imagen {
  position: absolute;
  top: 70%;
  left: 87%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width:12em;
  height:4em;
}

@media (min-width: 268px) and (max-width:500px) {

    .boton-sobre-imagen {
  position: absolute;
  top: 74%;
  left: 88%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width:3.8em;
  height:2.2em;
}


}